*{
    margin: 0px;
    padding: 0px;
}

.body{
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #0000F0;
}
p{
    font-size: 14px;
}

/* NavBar */
.navbar-default{
    background-color: transparent;
    border-color: #444;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a{
    color: #B5B5B5;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus{
    color: #5bc0de;
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand img{
    width: 80%;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav >.active>a,
.navbar-default .navbar-nav >.active>a:hover,
.navbar-default .navbar-nav >.active>a:active,
.navbar-default .navbar-nav >.active>a:focus{
    background-color: #e7e7e7;
    color: #0f0f0f;
}



/* header */
.header{
    background-image: url("../img/LeonardoDaVinci_LastSupperOfJesus.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.header .container{
    padding-top: 150px;
    padding-bottom: 150px;
}
.header-overlay{
    background-color: rgba(31,31,31,0.5);
}
.logo{
    padding-bottom: 50px;
}
.header-text h1{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 300;
    line-height: 35px;
    padding-top: 20px;
    text-transform: uppercase;
}
.header-text p {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}
.header-btns{
    margin-top: 90px;
    margin-bottom: 50px;
}
.btn-make-account,
.btn-make-account:focus,
.btn-make-account:active,
.btn-make-account:visited {
    background-color: #129CF3;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.btn-make-account:hover{
    background-color: #129CF3;
    border-color: #129CF3;
    color: #FFFFFF;
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
   color: #a9adb0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.btn-tour:hover{
    color: #FFFFFF;
}

/* Slider (Carousel) */
.slider {
    background-image: url("../img/art_gallery.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100vh;
    box-sizing:border-box;
}
.carousel-header h1{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 600;
    /*line-height: 35px;*/
    /*padding-top: 20px;*/
    text-transform: uppercase;
}
.slider-overlay{
    background-color: rgba(31,31,31,0.9);
    padding-top: 1px;
    padding-bottom: 20px;
    height: 100vh;
    box-sizing:border-box;
}
.carousel-indicators{
    bottom: -10px;
}
.carousel-inner .item img{
    margin-top: 40px;
    /*border: 2px solid #129CF3;*/
    border-radius: 1%;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slide-caption{
    padding-bottom: 80px;
}
.slide-caption h2{
    color: #129CF3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}
.slide-caption h4{
    color: #129CF3;
}
.slide-caption h4 span{
    color: #9d9d9d;
    font-style: italic;
    font-weight: 300;
}
.slide-caption p{
    color: #9d9d9d;
    font-size: 18px;
    padding-top: 50px;
}

/* categories */

.categories{
    background-image: url("../img/sunday_afternoon.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100vh;
    box-sizing:border-box;
}
.categories-overlay{
    background-color: rgba(31,31,31,0.5);
    height: 100vh;
    box-sizing:border-box;
}
.btn-show-more-category,
.btn-show-more-category:focus,
.btn-show-more-category:active,
.btn-show-more-category:visited {
    background-color: #129CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.btn-show-more-category:hover {
    background-color: #129CF3;
    border-color: #129CF3;
    color: #FFFFFF;
}
.collapse.in {
    max-height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.categories-list-head-image img{
    padding: 5px;
}

/* Footer */
.footer{
    background-color: #586462;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #129CF3;
}
#copyright p{
    color: #cccccc;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#copyright p a{
    text-decoration: none;
    color: #129CF3;
}
.scroll-top{
    text-align: right;
}
.scroll-top a{
    background-color: #129CF3;
    padding: 20px;
}
.scroll-top a i{
    color: #FFFFFF;
    font-size: 25px;
}

/* Post List*/
.page-body {
    background-image: url("../img/art_gallery.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    border-top: 5px solid black;
}
.no-background{
    background-color: white;
}
.page-title{
    margin-top: 40px;
}
.page-title h1{
    font-size: 50px;
}
.post-image{
    padding: 15px;
}
.post-image img{
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post-box{
    padding: 20px;
}
.italic{
    font-style: italic;
}
.post-header h2 a{
    font-size: 40px;
    text-decoration: none;
    color: #0f0f0f;
}


/* Contact */
.contact-container{
    margin-bottom: 2vh;
}

/* Post Single*/
.comment-box{
    margin-top: 6vh;
    margin-bottom: 5vh;
    border: groove 5px black;
}
#comment-form{
    padding-bottom: 3vh;
}
.comment{

}


/* Rest */
.btn .btn-success{
    margin-bottom: 10px;
}



/*.navbar{*/
    /*background-color: #1b6d85;*/
    /*color: #ffffff;*/
/*}*/
/*.navbar-default .navbar-brand{*/
    /*color: #ffffff;*/
    /*font-size: 20px;*/
    /*line-height: 70px;*/
    /*height: 70px;*/
/*}*/
/*.navbar-default .navbar-nav li a{*/
    /*color: #ffffff;*/
    /*line-height: 70px;*/
    /*height: 70px;*/
/*}*/
/*.navbar-nav>li>.dropdown-menu{*/
    /*background-color: #1b6d85;*/
/*}*/
/*.navbar-brand,*/
/*.navbar-nav li a {*/
    /*line-height: 150px;*/
    /*height: 150px;*/
    /*padding-top: 0;*/
/*}*/
/*.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {*/
    /*color: #120000;*/
/*}*/
/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {*/
    /*background-color: #FFFFFF;*/
/*}*/
/*.navbar-default .navbar-brand:hover{*/
    /*color: #0f0f0f;*/
/*}*/

/*#showcase {*/
    /*min-height: 400px;*/
    /*background: url('../images/LeonardoDaVinci _ LastSupperOfJesus.jpg') no-repeat;*/
    /*background-size: 100% 100%;*/
    /*text-align: center;*/
    /*color: #FFFFFF;*/
/*}*/
#showcase h1 {
    margin-top: 40px;
    font-size: 60px;
}



.post-index{
    padding:10px;
    text-align: center;
    background-color: #b2dba1;
}

.post-index-single{
    padding:50px;
    text-align: center;
    border: double 10px;
}

